.ui.inverted.vertical.masthead.center.aligned.segment
  .ui.text.container
    %h1.ui.inverted.header
      CoMaaS
    %h3 You startup
    %h3 We make and get things done
    .ui.huge.primary.button
      Get Started
      %i.right.arrow.icon
.ui.vertical.stripe.segment
  .ui.middle.center.aligned.stackable.grid.container
    .row
      .ten.wide.column
        %h2.ui.header Great Electronics Manufacturing Services for small and medium batch production
        %p CoMaaS provides best and professional Electronics Manufacturing Services for small and medium batch production from ShenZhen to all over the world.
    .row
      .column
        .ui.two.column.center.aligned.very.relaxed.stackable.grid.container
          .row
            .column
              %h3.ui.icon.header
                %i.ui.plug.icon
                Quick PCB
              .ui.list
                .item 2 to 16 layers PCB, batch quantity 5 to 1000
                .item 2 to 4 days production time
                .item Hi quality warranty
                .item Quick delivery to all over the world
              %a.ui.large.green.button
                %i.lightning.icon
                Kick Off
            .column
              %h3.ui.icon.header
                %i.ui.home.icon
                Manufacturing Service
              .ui.left.aligned.list
                .item Professional team in NPI
                .item Advanced manufacturing equipments
                .item Reliable quality control system and expert
                .item Competitive cost control capability
                .item Online friendly transparent whole manufacturing process updates
              %a.ui.large.button
                %i.info.icon
                Learn More ...
.ui.vertical.stripe.segment
  .ui.text.container
    %h2.ui.header High Quality Guarantee
    %p By sophisticated equipments and high standard quality control systems, our service quality can be reliable guaranteed.
    .ui.stackable.three.column.grid
      .row
        .column
          %h3 SMT
          %h4 MPM’S Solder paste printing machine
          %ul.ui.list
            %li PCB size: L50*W50~L510*W460mm
            %li Loop time: 5.2s
            %li Printing accuracy: ±20μm
          %h4 Panasonic SMT machine
          %ul.ui.list
            %li Mount accuracy: ±30μm
            %li Mount capability: 0201, 0.35mmCSP, L150*W25*T28mm shaped material
            %li PCB size: L50*W50~L510*W590mm
        .column
          %h3 Soldering
          %h4 Reflow soldering
          %ul.ui.list
            %li 12 temperature reflow furnace
            %li Wide process window, meet all kinds of solder paste, red glue and other processes
          %h4 Selective soldering
          %ul.ui.list
            %li High efficiency & quality reliable SMT-DIP hybrid production
        .column
          %h3 Inspection
          %h4 AOI
          %ul.ui.list
            %li Camera precision of 10μm
            %li Detection of defects: missing parts, wrong parts, false welding, false mounting, offset, bridging
          %h4 X-Ray
          %ul.ui.list
            %li Identification < 0.5μm,
            %li Maximum magnification 2000 times
            %li Maximum resolution pixel 1004*1004
      .row
        .column
          %h3 Professional Positions
          %ul.ui.list
            %li Complete control flow from DVT to PVT
            %li PFMEA, QC engineering drawings, SOP, SIP
        .column
          %h3 Quality System Standard
          %ul.ui.list
            %li ISO9001、TS16949、ISO14000、OHSAS18001
        .column
          %h3 Environments
          %ul.ui.list
            %li EU RoHS directive (2002/95/EC)
            %li “Special ESD protection zone” level workshop according to the US ANSI/ESD-S20.20-2007

.ui.center.aligned.padded.grid
  .row
    .blue.column
      .ui.text.basic.segment
        %h2 Are you ready or have any doubts about starting your project?
        %p We have a professional team to work with you and make your project well done, let your products more competitive with high quality.
        %a.ui.inverted.huge.button Contact Us Now
  .row
    .grey.column
      .ui.text.basic.segment
        %h2 Some remarkable projects we have delivered
        %p We have delivered over 500 different projects including medical equipments, network devices, industrial computer, development boards etc.
        %a.ui.inverted.huge.button View More Projects
  .row
    .blue.column
      .ui.center.aligned.text.basic.segment
        .ui.inverted.statistic
          .value
            %i.flag.icon
            50
          .label
            Projects Achieved
        .ui.inverted.statistic
          .value
            %i.users.icon
            50
          .label
            Skilled Workers
        .ui.inverted.statistic
          .value
            %i.student.icon
            20
          .label
            Experienced Engineers
        .ui.inverted.statistic
          .value
            %i.road.icon
            5
          .label
            Production Lines
