.ui.inverted.vertical.masthead.center.aligned.segment
  .ui.text.container
    %h1.ui.inverted.header
      About CoMaaS
    %h2 Do whatever you want when you want to.

    %p
      CoMaaS aims at serving customers who have demands on small/medium batch or industry products production, provides them high quality manufacturing service and supply chain resources in standardized way, to make their products more competitive.
    %p
      Through our system, the whole manufacturing and delivery processes is transparent, customer can instantly know the detail of every step in user friendly way, and interact with us everywhere, making the manufacturing order management easy and efficient.
.ui.vertical.stripe.segment
  .ui.text.container
    %h2 Our Team
    %h3 Production Team
    %p
      Over 20 years experience in electronics manufacturing, worked for the production of consumer electronics products(Samsung, OPPO) OEM, delivered over 500 small/medium batch(50-10K pcs) projects including medical equipments, industrial equipments, maker’s IoT products.

      Products passed certifications including: CE(EU)、UL(USA)、PSE(Japan)、3C(China)
    %h3 Engineering Team
    %p
      Consists of qualified Electronics Engineer, NPI Engineer, Quality Engineer, built several modern workshops for many local manufacturer with high standards.

    %h3 Operation Team
    %p
      Rich experience and skill in ERP/MES development and implementation, also Web and APP development skill. The lead software engineer once developed a commercial ERP software in China, and also built a online community in both web and mobile phone which has over one million DAU(Daily Active User).
